<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("partials/errors.ejs")%>
    <form action="/<%= user.id %>/update" method="POST">
      <label for="firstName">First Name:</label>
      <input
        type="text"
        name="firstName"
        value="<%= user.firstName %>"
        required
      />
      <label for="lastName">Last Name:</label>
      <input
        type="text"
        name="lastName"
        value="<%= user.lastName %>"
        required
      />
      <!-- Email -->
      <label for="email">Email:</label>
      <input
        type="email"
        name="email"
        id="email"
        value="<%= user.email %>"
        required
      />
      <!-- Age -->
      <label for="age">Age:</label>
      <input type="number" name="age" id="age" value="<%= user.age %>" />
      <!-- Bio -->
      <label for="bio">Bio:</label>
      <textarea name="bio" id="bio" maxlength="200"><%= user.bio %></textarea>
      <button type="submit">Update User</button>
    </form>
  </body>
</html>
